{% extends 'base.html' %}

{% block head %} 
<title>Register Patient</title>
{% endblock%}

{% block body %} 
<h3>Register User</h3>

<form method="POST" action="{{ url_for('register_user') }}">
<!-- display errors if any -->
    {% if errors %}
        <div style="color: red;">
            <h4>Invalid Form:</h4>
            <ul>
                {% for field, field_errors in errors.items() %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username(size=32) }}
    {{ form.email.label }} {{ form.email(size=32) }}
    {{ form.password.label }} {{ form.password(size=32) }}
    <!-- for self registration role is patient and will be validated in the backend route -->
    <input type="hidden" name="role" value="patient">
    {{ form.confirm.label }} {{ form.confirm(size=32) }}
    {{ form.submit() }}
</form>
{% endblock%}

